<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">PTM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
            <li class="dropdown nav-item">
                <a class="text-white dropbtn">Maths</a>
                <div class="dropdown-content">
                  <a  routerLink="/maths">Teacher Comment</a>
                  <a routerLink="/ptm">PTM</a>
                </div>
              </li>
        <li class="nav-item">
          <a routerLink="/science" class="nav-link text-white">Science</a>
        </li>
        </ul>
        </div>
  </nav>