<div class="container" id="emptyform">
  <form [formGroup]="form" (submit)="callingFunction()">
    <div class="form-group col-61">
      <label style="display: block; padding-top: 10px;">
        <h6>Student Name</h6>
      </label>
      <input type="text" class="form-control" name="inputValue" formControlName="name" (click)="childName($event)"
        (keyup)="childName($event)" (click)="onBlur($event)">
    </div>
    <div id="science-container">
      <div formArrayName="contacts">
        <div class="card1">
          <div class="col-12" *ngFor="let contact of controlFormGroup.controls; let i=index;">
            <div [formGroupName]="i">
              <div class="row">
                <div class="col-6">
                  <label style="display: block; padding-top: 10px;">
                    <h6>Subject</h6>
                  </label>
                  <select class="form-control" type="text" formControlName="chos" [(ngModel)]="showComments.subjects">
                    <option selected>Choose...</option>
                    <option value="Biology:">Biology</option>
                    <option value="Physics:">Physics</option>
                    <option value="Chemistry:">Chemistry</option>
                  </select>
                </div>
                <div class="col-6">
                  <label style="display: block; padding-top: 10px;">
                    <h6>Topic Covered upto</h6>
                  </label>
                  <input type="text" class="form-control" formControlName="topic" [(ngModel)]="showComments.topic">
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <label style="display: block; padding-top: 10px;">
                    <h6>H.W Progress</h6>
                  </label>
                  <div class="form-check form-check-inline">
                    <input Class="form-check-input" type="radio" name="pro1" value="done" (change)="progress($event)"
                      formControlName="pro1">
                    <label class="form-check-label">Done</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="pro1" value="notdone" (change)="progress($event)"
                      formControlName="pro1">
                    <label class="form-check-label">Not Done</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="pro1" value="incomplete"
                      (change)="progress($event)" formControlName="pro1">
                    <label class="form-check-label">Incomplete</label>
                  </div>
                </div>
                <div class="col-6">
                  <label style="display: block; padding-top: 10px;">
                    <h6>H.W Quality</h6>
                  </label>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="usually" value="good" (change)="usually($event)">
                    <label class="form-check-label">Good</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="usually" value="satisfactory"
                      (change)="usually($event)">
                    <label class="form-check-label">Satisfactory</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="usually" value="unsatisfactory"
                      (change)="usually($event)">
                    <label class="form-check-label">Unsatisfactory</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label style="display: block; padding-top: 10px;">
                  <h6>Test Results</h6>
                </label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="results" value="good"
                    (change)="testResults($event)">
                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="results" value="average"
                    (change)="testResults($event)">
                  <label class="form-check-label">Average</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="results" value="belowAverage"
                    (change)="testResults($event)">
                  <label class="form-check-label">Below Average</label> <br>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="results" value="unsatisfactory"
                    (change)="testResults($event)">
                  <label class="form-check-label">Unsatisfactory</label>
                </div>
              </div>
              <div class="col-6">
                <label style="display: block; padding-top: 10px;">
                  <h6>Test Pace</h6>
                </label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="pace" value="good" (change)="testPace($event)">
                  <label class="form-check-label">Good</label>
                </div>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="pace" value="satisfactory"
                    (change)="testPace($event)">
                  <label class="form-check-label">Satisfactory</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="pace" value="slow" (change)="testPace($event)">
                  <label class="form-check-label">Slow</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label style="display: block; padding-top: 10px;">
                  <h6>Understanding of Knowledge</h6>
                </label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="know" value="good"
                    (change)="understandingofKnowledge($event)">
                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="know" value="average"
                    (change)="understandingofKnowledge($event)">
                  <label class="form-check-label">Average</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="know" value="belowAverage"
                    (change)="understandingofKnowledge($event)">
                  <label class="form-check-label">Below Average</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="know" value="unsatisfactory"
                    (change)="understandingofKnowledge($event)">
                  <label class="form-check-label">Unsatisfactory</label>
                </div>
              </div>
              <div class="col-6">
                <label style="display: block; padding-top: 10px;">
                  <h6>Apllication of Knowledge</h6>
                </label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="app" value="good"
                    (change)="applicationofKnowledge($event)">
                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="app" value="average"
                    (change)="applicationofKnowledge($event)">
                  <label class="form-check-label">Average</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="app" value="belowAverage"
                    (change)="applicationofKnowledge($event)">
                  <label class="form-check-label">Below Average</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="app" value="unsatisfactory"
                    (change)="applicationofKnowledge($event)">
                  <label class="form-check-label">Unsatisfactory</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label style="display: block; padding-top: 10px;">
                  <h6>Maths Skills</h6>
                </label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="skill" value="good" (change)="mathsSkills($event)">
                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="skill" value="average"
                    (change)="mathsSkills($event)">
                  <label class="form-check-label">Average</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="skill" value="belowAverage"
                    (change)="mathsSkills($event)">
                  <label class="form-check-label">Below Average</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="skill" value="unsatisfactory"
                    (change)="mathsSkills($event)">
                  <label class="form-check-label">Unsatisfactory</label>
                </div>
              </div>
              <div class="col-6">
                <label style="display: block; padding-top: 10px;">
                  <h6>Practical Knowledge</h6>
                </label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="prac" value="good"
                    (change)="practicalKnowledge($event)">
                  <label class="form-check-label">Good</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="prac" value="average"
                    (change)="practicalKnowledge($event)">
                  <label class="form-check-label">Average</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="prac" value="belowAverage"
                    (change)="practicalKnowledge($event)">
                  <label class="form-check-label">Below Average</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="prac" value="unsatisfactory"
                    (change)="practicalKnowledge($event)">
                  <label class="form-check-label">Unsatisfactory</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <label style="display: block; padding-top: 10px;">
                  <h6>Mistakes</h6>
                </label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" value="workbook"
                    (click)="mistakes('workbook', $event)">
                  <label class="form-check-label">Workbook</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" value="structured"
                    (click)="mistakes('structured', $event)">
                  <label class="form-check-label">Structured</label>
                </div>
              </div>
              <div class="col-sm-6">
                <label style="display: block; padding-top: 10px;">
                  <h6>Calculations</h6>
                </label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" value="moles" (click)="Calulations('moles', $event)">
                  <label class="form-check-label">Moles Calculations</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" value="formula"
                    (click)="Calulations('formula', $event)">
                  <label class="form-check-label">Formula Skills</label><br>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" value="unit" (click)="Calulations('unit', $event)">
                  <label class="form-check-label">Unit Conversion</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" value="balancing"
                    (click)="Calulations('balancing', $event)">
                  <label class="form-check-label">Balancing Equations</label>
                </div>
              </div>
            </div>
            <div class="form-group col-12 text-right">
              <button class="btn btn-danger" type="button" (click)="removeContact(i)"> Remove </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-primary m-1" type="button" (click)="addContact()">Add Subject</button>
        <button class="btn btn-success m-1" type="button" (click)="clearForm()"> Clear </button>
      </div>
    </div>
  </form>
</div>

<!-- science end-->
<div class="container">
  <div class="improve-container">
    <div>
      <h6>Can Improve his Homework by:</h6>
    </div>
    <div class="improve-col1">
      <div class="improve">
        <input type="checkbox" value="revising" (click)="improveHomework('improve',$event)">
        <label>Revising the content at Home</label>
      </div>
      <div class="improve">
        <input type="checkbox" value="askmore" (click)="improveHomework('askMore',$event)">
        <label>Ask More Questions in the Lesson</label>
      </div>
      <div class="improve">
        <input type="checkbox" value="reading" (click)="improveHomework('reading',$event)">
        <label>Reading the Questions Carefully</label>
      </div>
      <div class="improve">
        <input type="checkbox" value="notdoing" (click)="improveHomework('notdoing',$event)">
        <label>Not doing homeWork</label>
      </div>
      <div class="improve">
        <input type="checkbox" value="affect" (click)="improveHomework('affect',$event)">
        <label>Affect on class and test Progress</label>
      </div>
      <div class="improve">
        <input type="checkbox" value="test" (click)="improveHomework('test',$event)">
        <label>Test Related Topic</label>
      </div>
    </div>
  </div>
  <!-- improve-container end-->
  <div class="concentration-container">
    <div class="concentration-heading1">
      <h6>Class Concentration</h6>
    </div>
    <div class="concentration concen-radio">
      <input type="radio" name="concen" value="good" (change)="concentrationBehave('concentration', $event)">
      <label>Good</label>
    </div>
    <div class="concentration concen-radio">
      <input type="radio" name="concen" value="satisfactory" (change)="concentrationBehave('concentration', $event)">
      <label>Satisfactory</label>
    </div>
    <div class="concentration-heading2">
      <h6>Unsatisfactory</h6>
    </div>
    <div class="concentration concen-checkbox">
      <input type="checkbox" name="concentration" value="talkative" (click)="concentrationBehave('talkative',$event)">
      <label>Talkative</label>
    </div>
    <div class="concentration concen-checkbox">
      <input type="checkbox" name="concentration" value="students" (click)="concentrationBehave('talkStudent',$event)">
      <label>Talkative Other Tables</label>
    </div>
    <div class="concentration concen-checkbox">
      <input type="checkbox" name="concentration" value="loudly" (click)="concentrationBehave('speak',$event)">
      <label>Speaks Loudly</label>
    </div>
    <div class="concentration concen-checkbox">
      <input type="checkbox" name="concentration" value="laughs" (click)="concentrationBehave('laugh',$event)">
      <label> Laughs During Lesson</label>
    </div>
    <div class="concentration concen-checkbox">
      <input type="checkbox" name="concentration" value="tired" (click)="concentrationBehave('tiredness',$event)">
      <label>Tired During Lesson</label>
    </div>
  </div>

  <div class="behaviour-container">
    <div class="behave-heading1">
      <h6>Class Behaviour</h6>
    </div>
    <div class="behave behave-radio">
      <input type="radio" name="behav" value="behavegood" (change)="concentrationBehave('behave', $event)">
      <label>Good</label>
    </div>
    <div class="behave behave-radio">
      <input type="radio" name="behav" value="behavesatisfactory" (change)="concentrationBehave('behave', $event)">
      <label>Satisfactory</label>
    </div>
    <div class="behave-heading2">
      <h6>Unsatisfactory</h6>
    </div>
    <div class="behave behave-checkbox">
      <input type="checkbox" value="notlisten" (click)="concentrationBehave('listen',$event)">
      <label>Listen</label>
    </div>
    <div class="behave behave-checkbox">
      <input type="checkbox" value="language" (click)="concentrationBehave('inappropriate',$event)">
      <label>Language</label>
    </div>
    <div class="behave behave-checkbox">
      <input type="checkbox" value="misbehave" (click)="concentrationBehave('misBehave',$event)">
      <label>Misbehave</label>
    </div>
  </div>

  <div class="overall-container">
    <div class="attendance-container">
      <div class="attendace" style="display: block;">
        <h6>Attendance</h6>
      </div>
      <div class="attendance">
        <input type="radio" name="attend" value="goodAttendance" (change)="overallPerformance('attendance',$event)">
        <label>Good</label>
      </div>
      <div class="attendance">
        <input type="radio" name="attend" value="satisfyAttendance" (change)="overallPerformance('attendance',$event)">
        <label>Satisfactory</label>
      </div>
      <div class="attendance">
        <input type="radio" name="attend" value="badAttenadance" (change)="overallPerformance('attendance',$event)">
        <label>Unsatisfactory</label>
      </div>
    </div>
    <div class="punctuality-container">
      <div class="punctuality" style="display: block;">
        <h6>Punctuality</h6>
      </div>
      <div class="punctuality">
        <input type="radio" name="punct" value="goodPunctuality" (change)="overallPerformance('punctuality', $event)">
        <label>Good</label>
      </div>
      <div class="punctuality">
        <input type="radio" name="punct" value="satisfyPunctuality"
          (change)="overallPerformance('punctuality', $event)">
        <label>Satisfactory</label>
      </div>
      <div class="punctuality">
        <input type="radio" name="punct" value="badPunctuality" (change)="overallPerformance('punctuality', $event)">
        <label>Unsatisfactory</label>
      </div>
    </div>
    <div class="ability-container">
      <div class="ability" style="display: block; padding-top: 10px;">
        <h6>Ability</h6>
      </div>

      <div class="ability">
        <input type="radio" name="abili" value="goodAbilty" (change)="overallPerformance('ability', $event)">
        <label>Good</label>
      </div>
      <div class="ability">
        <input type="radio" name="abili" value="satisfyAbility" (change)="overallPerformance('ability', $event)">
        <label>Average</label>
      </div>
      <div class="ability">
        <input type="radio" name="abili" value="avgAbility" (change)="overallPerformance('ability', $event)">
        <label>Below Average</label>
      </div>
      <div class="ability">
        <input type="radio" name="abili" value="slowAbility" (change)="overallPerformance('ability' , $event)">
        <label>Slow Learner</label>
      </div>
    </div>
  </div>
  <!-- overall end -->
  <div class="writingSpelling-container">
    <div class="writing-container">
      <div class="writing" style="display: block;">
          <h6>Hand Writing</h6>
      </div>
      <div class="writing">
        <input type="radio" name="hand" value="satisfactory" (change)="handWriting($event)">
        <label>Satisfactory</label>
      </div>
      <div class="writing">
        <input type="radio" name="hand" value="unsatisfactory" (change)="handWriting($event)">
        <label>Unsatisfactory</label>
      </div>
    </div>
    <div class="spelling-container">
      <div class="spelling" style="display: block;">
          <h6>Spelling</h6>
      </div>
      <div class="spelling">
        <input type="radio" name="spell" value="satisfactory" (change)="spelling($event)">
        <label>Satisfactory</label>
      </div>
      <div class="spelling">
        <input type="radio" name="spell" value="unsatisfactory" (change)="spelling($event)">
      <label>Unsatisfactory</label>
      </div>
   </div>
  </div>

  <div>
    <h6>Additional Comments</h6>
  </div>
  <div class="additional-container">
    <textarea type="text" rows="" cols="75" value="Note" [(ngModel)]="commentShown.additional" class="form-control mb-2"
      name="optional">
        </textarea>
    <label>
      <h6>Parents Remarks:</h6>
    </label>
    <textarea type="text" rows="" cols="75" value="remarks" [(ngModel)]="commentShown.parents" class="form-control mb-2"
      name="optional">
  </textarea>
  </div>
</div>

<!--additainali end -->

<div class="container mb-5 mt-5">
  <div class="card">
    <div class="card-body myStyle">
      <div id="divComments" *ngFor="let item of studentPTM">
        <span>{{item.parent}}</span>
        <div>
          <span>{{item.subjects}}</span>
        </div>
        <span>{{item.topic}}</span>
        <span>{{item.progress}}</span>
        <span>{{item.usually}}</span>
        <span>{{item.test}}</span>
        <span>{{item.testResults}}</span>
        <span>{{item.understanding}}</span>
        <span>{{item.app}}</span>
        <span>{{item.maths}}</span>
        <span>{{item.practical}}</span>
        <span>{{item.workbook}}</span>
        <span>{{item.structured}}</span>
        <span>{{item.moles}}</span>
        <span>{{item.formula}}</span>
        <span>{{item.unit}}</span>
        <span>{{item.balancing}}</span>
      </div>
      <span>{{commentShown.improve}}</span>
      <span>{{commentShown.askMore}}</span>
      <span>{{commentShown.reading}}</span>
      <span>{{commentShown.notdoing}}</span>
      <span>{{commentShown.affect}}</span>
      <span>{{commentShown.test}}</span>
      <span>{{commentShown.concentration}}</span>
      <span>{{commentShown.talkative}}</span>
      <span>{{commentShown.talkStudent}}</span>
      <span>{{commentShown.speak}}</span>
      <span>{{commentShown.laugh}}</span>
      <span>{{commentShown.tiredness}}</span>
      <span>{{commentShown.behave}}</span>
      <span>{{commentShown.listen}}</span>
      <span>{{commentShown.inappropriate}}</span>
      <span>{{commentShown.misBehave}}</span>
      <span>{{commentShown.attendance}}</span>
      <span>{{commentShown.punctuality}}</span>
      <span>{{commentShown.ability}}</span>
      <span>{{commentShown.handWriting}}</span>
      <span>{{commentShown.spelling}}</span>
      <div>
        <span>{{commentShown.additional}}</span>
      </div>
      <div>
        <span>{{commentShown.parents}}</span>
      </div>
      <span>Requesting the parents to sign the diary every week and discuss his class progress with him. Requesting the
        parents about
        school report.</span>
      <span> Parent was thankful to science department on informing the child Science progress !!</span>
    </div>
  </div>


  <div class="card-body myStyle">

  </div>
  <div class="container-button mt-0">
    <button class="btn btn-success" (click)="successCopied()" style="margin: 5px;" type="button">
      {{changeButton? 'Copy': 'Copied'}}</button>
    <button class="btn btn-secondary" (click)="resetForm()" style="margin: 5px;">Reset</button>
  </div>
</div>