<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mt-2">
        <div class="card-header">
          <div class="row">
            <div class="col form-group">
              <label>Ref Number</label>
              <input type="text" class="form-control" [(ngModel)]="searchStudents.refNumber" name="refNumber" />
            </div>
            <div class="col form-group">
              <label>First Name</label>
              <input type="text" class="form-control" [(ngModel)]="searchStudents.firstName" name="firstName" />
            </div>
            <div class="col form-group">
              <label>Last Name</label>
              <input type="text" class="form-control" [(ngModel)]="searchStudents.lastName" name="lastName" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-primary" (click)="searchFunction()">Search</button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-hover" *ngIf="gotStudentsData?.length > 0;">
            <thead class="thead-light">
              <tr>
                <th>Ref Number</th>
                <th>Student Name</th>
                <th>Year</th>
                <th>Subject</th>
                <th>Teacher Comments</th>
                <th>PTM</th>
                <th>Test Record</th>
                <th>Booster</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let x of gotStudentsData">
                <td>{{x.RefNumber}}</td>
                <td><a [routerLink]="['/viewStudent', x.RefNumber, x.ID[0]]">{{x.FirstName + ' ' + x.LastName}}</a></td>
                <td>{{x.Year}}</td>
                <td>{{x.Subjects}}</td>
                <td><a [routerLink]="['/teacher', x.RefNumber, x.ID[0], 'Student Teacher Comments']" type="button"
                    class="btn btn-primary">Teacher</a></td>
                <td><a [routerLink]="['/teacher', x.RefNumber, x.ID[0], 'Student PTM']" type="button"
                    class="btn btn-primary">PTM</a></td>
                <td><a [routerLink]="['/teacher', x.RefNumber, x.ID[0], 'Student Test Record']" type="button"
                    class="btn btn-primary">Test</a></td>
                <td><a [routerLink]="['/teacher', x.RefNumber, x.ID[0], 'Student Booster Record']" type="button"
                    class="btn btn-primary">Booster</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>