<div class="container">
  <div>
    <button [disabled]="!canAdd" class="btn btn-primary" (click)="onAddNewquestion()">Add New questions</button>
  </div>
  <div *ngFor="let question of questions.controls; index as i">

    <form [formGroup]="question">

      <div class="form-control" *ngIf="ifControlExist(question, 'formName')">
        <label for="formName"> Form Name:
          <input type="text" formControlName="formName">
        </label>
      </div>

      <div class="form-control" *ngIf="ifControlExist(question, 'subjectName')">
        <label for="subjectName"> Subject:
          <select formControlName="subjectName">
            <option value="1">Math</option>
            <option value="2">Physics</option>
            <option value="3">Biology</option>
            <option value="4">Chemistry</option>
            <option value="5">ICT</option>
          </select>
        </label>
      </div>

      <div class="form-control" *ngIf="ifControlExist(question, 'type')">
        <label for="type"> Type:
          <select formControlName="type">
            <option value="text">text</option>
            <option value="date">Date</option>
            <option value="radio">Radio</option>
            <option value="dropdown">Dropdown</option>
            <option value="checkbox">Checkbox</option>
          </select>
        </label>
      </div>

      <div class="form-control" *ngIf="ifControlExist(question, 'name')">
        <label for="name"> Name:
          <input type="text" formControlName="name">
        </label>
      </div>

      <div class="form-control" *ngIf="ifControlExist(question, 'label')">
        <label for="label"> Label:
          <input type="text" formControlName="label">
        </label>
      </div>

      <div class="form-control" *ngIf="ifControlExist(question, 'required')">
        <label for="required">Is Required
          <input type="checkbox" formControlName="required">
        </label>
      </div>

      <div class="form-control" *ngIf="i>0">
        <button class="btn btn-secondary btn-sm" (click)="removeContact(i)">Remove</button>
      </div>

      <div *ngIf="ifOptionsExist(question)">
        <button class="btn btn-secondary btn-sm" (click)="onAddOptions(question)">Add Options</button>
        <div *ngFor="let opt of question.get('options').controls; index as j">
          <div [formGroup]="opt">

            <div class="form-control" *ngIf="ifControlExist(opt, 'label')">
              <label for="label"> Label:
                <input type="text" formControlName="label">
              </label>
            </div>
          </div>
        </div>

      </div>

    </form>

  </div>

  <div>
    <button class="btn btn-primary" [disabled]="!canAdd" (click)="save()">Save</button>&nbsp;
    <button class="btn btn-primary" (click)="previewQuestionnaire()">Preview Questionnaire</button>
  </div>

</div>