<div class="container">
  <div class="row">
    <div class="col">
      <div class="mt-2">
        <a [routerLink]="['/newForm']" type="button" class="btn btn-primary">Add New Form</a>
      </div>
      <table class="table" *ngIf="listOfForms">
        <thead>
          <tr class="thead-dark">
            <td>Subject</td>
            <td>Form Name</td>
            <td>View Form</td>
            <td>Edit Form</td>
            <td>Delete Form</td>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let form of listOfForms">
            <td>{{ form.SubjectName }}</td>
            <td>{{ form.Name }}</td>
            <td><button class="btn btn-info">View</button></td>
            <td><button class="btn btn-secondary">Edit</button></td>
            <td><button class="btn btn-danger">Delete</button></td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>